@model ImageFileUpload.Models.Image

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Image</h4>
    <hr />
    <div class="form-group">
        <img name="image" id="image" src="@ViewBag.ImageUrl" alt="My Picture" />
    </div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Index")
</p>


